.textoHeader{
    top: 45%;
    right: 20px;
    position: absolute;
}

nav{
    background: #3e64816b;
} 
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
 }
@media only screen and  (max-width: 480px) {
    .logoMundar{
        width: 50px!important;
    }
    .logoMundarMobile{
        width: 25px;
    }
}
